{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {% for product in pages %}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{ product.image.url }}" alt="">
                    </div>
                    <h2><a href="{% url 'single_product' product.category.slug product.slug %}">{{ product.name }}</a></h2>
                    <div class="product-carousel-price">
                        <ins>{{ product.price }} ₸</ins>
                    </div>

                    <div class="product-option-shop">
                        {% if user.is_authenticated %}
                        <a href="" class="add_to_cart_button update-cart" data-product="{{ product.id }}"
                           data-action="add">Себетке
                            қосу</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="add_to_cart_button"
                           data-action="add">Себетке
                            қосу</a>
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>


                        <ul class="pagination">
                            <li>
                                <a href="{% url 'shop' %}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for p in pages.paginator.page_range %}
                            {% if pages.number == p %}
                            <li class="active"><a href="?page={{ p }}">{{ p }}</a></li>
                            {% else %}
                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                            {% endfor %}

                            <li>
                                <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
   
